@include css-select ($white,$black);

body,html,#wrapper {
	width: 100%;
	height: 100%;

	&.no-scroll {
		overflow: hidden;
	}
}

#wrapper {
	position: relative;
	padding: 0 40px;

	.overview-mode & {
		overflow: hidden;
	}
	
	// opacity: 0;
	// display: none;
	@include transition (opacity 500ms ease);
	
}

* {
	@include box-sizing (border-box);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: 0;
    -webkit-text-size-adjust: 100%;
}

figure {
	line-height: 0;
}

input[type="submit"], button, .button {
	cursor: pointer;
	@include no-select;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	@include no-select;
}

.svg {
	max-width: 100%;
	max-height: 100%;
}

.clear {
	display: block;
	float: left;
	clear: both;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


// SCROLLBAR STYLING
$scrollbarWidth: 10px;
$scrollbarBackground: $white;
$scrollbarHandleColour: $black;


.no-touch {
	::-webkit-scrollbar {
		width: $scrollbarWidth;
	}

	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 0px $scrollbarBackground;
		-webkit-border-radius: 0px;
		border-radius: 0px;
		background: $scrollbarBackground;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
	    -webkit-border-radius: 0px;
	    border-radius: 0px;
		background: $scrollbarHandleColour;
	    -webkit-box-shadow: inset 0 0 0px $scrollbarHandleColour; 
	}

	::-webkit-scrollbar-button { }
	::-webkit-scrollbar-track-piece { }
	::-webkit-scrollbar-corner { }
	::-webkit-resizer { }
}

// MISC GLOBAL ELEMENTS
// -------------------------------------
.image-cover-background {
	background-size: cover !important;
	background-position: 50% 50% !important;
}