include /_partials/mixins.jade
extends /_partials/layout.jade


block content

	h1 Test regular

	p.redacted Test redacted

	p.redacted-bold Test redacted bold
	p.redacted-italic Test redacted italic
	p.redacted-blocks Test redacted blocks

	p Font awesome test 
		i.fa.fa-search

	+nav-list()