//- Global template vars
- var time = new Date();
- var cachebust = '?'+time.getHours()+''+time.getDate();
- var root = production ? '/' : '/dev';

include /_partials/utils.jade
include /_partials/mixins.jade


doctype html
//- +signature()
<!--[if IE 7]><html data-ie="ie7" lang="en"><![endif]-->
<!--[if IE 8]><html data-ie="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html data-ie="ie9" lang="en"><![endif]-->
<!--[if !IE]><!-->
html(lang="en")
	<!--<![endif]-->
	head
		meta(charset='UTF-8')
		meta(http-equiv='Content-Language', content='en')
		meta(name='author', content=index.author)
		title=index.title

		meta(name='description', content=index.description)
		meta(http-equiv="Keywords" content=index.keywords)

		//- setting for mobiles
		meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale = 1.0, maximum-scale = 1.0', id='meta-viewport')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black')

		//- Meta things and share icons
		
		//- +openGraph(title,url,description)
		//- +twitterMeta(title,url,description)
		+altFavicons

		meta(name="google", content="notranslate")

		//- FONTAWESOME
		link(rel='stylesheet', href='#{assets}fontawesome/fontawesome.css' +cachebust)
		
		if (production)

			//- CSS
			link(rel='stylesheet', href='#{assets}css/min/index.css' +cachebust)

			//- HTML5 SHIV, if necessary
			<!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]-->
			
			//- JQUERY
			<!--[if lte IE 9]>
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
			<script>window.jQuery || document.write('<script src="/jquery/jquery_1.js"><\/script>')</script>
			<![endif]-->

			<!--[if !IE]><!-->
			script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
			script.
				window.jQuery || document.write('<script src="/jquery/jquery_2.js"><\/script>');
			<!--<![endif]-->
		else
			link(rel='stylesheet', href='#{assets}css/mouse/index.css' +cachebust)
			script(src="#{assets}jquery/jquery_2.js")
		

		//- SET asset path variable
		script.
			var assetPath = window.assetPath = '#{assets}';


		script.
			//- environment variable
			var isDev = window.isDev = true;
		script(src='#{assets}js/plugins.js' +cachebust)
		script(src='#{assets}js/mouse/scripts.js' +cachebust)
		

	body.markdown-body
		div#wrapper
			block content
			if (!production)
				+liveReload()
				+browserSync()
		div#mobileTester
		div#tabletTester