mixin nav-list( pages )
	- pages = pages || pageList;

	h2 Nav list #{pages.length}
	ul.nav-list
		for page in pages
			- var title = page.title;
			- var slug = page.slug;
			- var parent = page.isParent ? true : false;
			- var link = root + '/' + slug;
			li.nav-list-item
				a.nav-list-link(href=link)=title
				if parent
					ul.nav-sublist
						for child in page.children
							- var title = child.title;
							- var parentPath = child.parent;
							- var slug = child.slug;
							- var link = root + '/' + parentPath + '/' + slug;
							li.nav-list-item.nav-sublist-item
								a.nav-list-link.nav-sublist-link(href=link)=title