$mobileWidth: 650px;
$minTabletWidth: $mobileWidth + 1;
$maxTabletWidth: 1279px;

@mixin mobile {
	@media screen and (max-device-width: $mobileWidth) {
		html.touch {
			@content;
		}
	}
}

@mixin tablet {
	@media screen and (min-device-width: $minTabletWidth) and (max-device-width: $maxTabletWidth) {
		html.touch {
			@content;
		}
	}
}