=background ( $colour, $opacity: 1 )
    background-color: $colour
    background-color: rgba( $colour, $opacity )

=keyframe($name)
    @-webkit-keyframes #{$name}
        @content
    @-moz-keyframes #{$name}
        @content
    @-ms-keyframes #{$name}
        @content
    @keyframes #{$name}
        @content

=animation ($animation, $duration:1000ms, $timingFunction:ease, $delay:0, $iteration:infinite, $direction:running ) 
    -webkit-animation-name: $animation
    -webkit-animation-duration: $duration
    -webkit-animation-timing-function: $timingFunction
    -webkit-animation-delay: $delay
    -webkit-animation-duration: $duration
    -webkit-animation-iteration-count: $iteration
    -webkit-animation-direction: $direction

    -moz-animation-name: $animation
    -moz-animation-duration: $duration
    -moz-animation-timing-function: $timingFunction
    -moz-animation-delay: $delay
    -moz-animation-duration: $duration
    -moz-animation-iteration-count: $iteration
    -moz-animation-direction: $direction

    animation-name: $animation
    animation-duration: $duration
    animation-timing-function: $timingFunction
    animation-delay: $delay
    animation-duration: $duration
    animation-iteration-count: $iteration
    animation-direction: $direction


=hyphens
    -ms-word-break: break-all
    word-break: break-all

    // Non standard for webkit
    word-break: break-word

    -webkit-hyphens: auto
    -moz-hyphens: auto
    -ms-hyphens: auto
    hyphens: auto
    text-align: justify


=overflow-touch
    -ms-overflow-style: none
    -webkit-overflow-scrolling: touch  

=css-select( $colour, $background )
    ::selection
        color: $colour
        background: $background
    ::-moz-selection
        color: $colour
        background: $background

=no-select
    -webkit-touch-callout: none
    -webkit-user-select: none
    -webkit-tap-highlight-color: rgba(0,0,0,0)
    -webkit-tap-highlight-color: transparent
    -moz-user-select: none
    -khtml-user-select: none
    -webkit-user-select: none
    -ms-user-select: none
    user-select: none

=font-smoothing
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale


=translate-center ($type:vertical,$position:absolute)
    position: $position
    
    @if $type == 'horizontal'
        +translateX(-50%)
        left: 50%
    @else if $type == 'vertical'
        +translateY(-50%)
        top: 50%
    @else
        +translate(-50%,-50%)
        top: 50%
        left: 50%

=calc($property, $expression)
    #{$property}: -webkit-calc(#{$expression})
    #{$property}: calc(#{$expression})

=backface-hidden
    backface-visibility: hidden
    -webkit-backface-visibility: hidden

=form-reset
    box-sizing: border-box
    background-clip: padding-box
    border-radius: 0
    -moz-appearance: none
    -webkit-appearance: none
    appearance: none
    color: #000
    border: 0
    margin: 0
    padding: 0
    background: none
    outline: 0
    resize: none
    display: block

