@font-face {
    font-family: 'redactedregular';
    src: url('../../Fonts/redacted-regular.eot');
    src: url('../../Fonts/redacted-regular.eot?#iefix') format('embedded-opentype'),
         url('../../Fonts/redacted-regular.woff2') format('woff2'),
         url('../../Fonts/redacted-regular.woff') format('woff'),
         url('../../Fonts/redacted-regular.ttf') format('truetype'),
         url('../../Fonts/redacted-regular.svg#redactedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'redacted_scriptbold';
    src: url('../../Fonts/redacted-script-bold.eot');
    src: url('../../Fonts/redacted-script-bold.eot?#iefix') format('embedded-opentype'),
         url('../../Fonts/redacted-script-bold.woff2') format('woff2'),
         url('../../Fonts/redacted-script-bold.woff') format('woff'),
         url('../../Fonts/redacted-script-bold.ttf') format('truetype'),
         url('../../Fonts/redacted-script-bold.svg#redacted_scriptbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'redacted_scriptlight';
    src: url('../../Fonts/redacted-script-light.eot');
    src: url('../../Fonts/redacted-script-light.eot?#iefix') format('embedded-opentype'),
         url('../../Fonts/redacted-script-light.woff2') format('woff2'),
         url('../../Fonts/redacted-script-light.woff') format('woff'),
         url('../../Fonts/redacted-script-light.ttf') format('truetype'),
         url('../../Fonts/redacted-script-light.svg#redacted_scriptlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'redacted_scriptregular';
    src: url('../../Fonts/redacted-script-regular.eot');
    src: url('../../Fonts/redacted-script-regular.eot?#iefix') format('embedded-opentype'),
         url('../../Fonts/redacted-script-regular.woff2') format('woff2'),
         url('../../Fonts/redacted-script-regular.woff') format('woff'),
         url('../../Fonts/redacted-script-regular.ttf') format('truetype'),
         url('../../Fonts/redacted-script-regular.svg#redacted_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin regular {
	font-family: 'Helvetica', 'Arial', sans-serif;
}

@mixin redacted-blocks {
	font-family: 'redactedregular';
}

@mixin redacted {
	font-family: 'redacted_scriptregular';
}

@mixin redacted-bold {
	font-family: 'redacted_scriptbold';
}

@mixin redacted-italic {
	font-family: 'redacted_scriptlight';
}

@mixin italic { font-style: italic; }

@mixin bold { font-weight: bold; }


// FONT STYLING MIXINS
@mixin letter-spacing ($value) {
	letter-spacing: ($value / 1000)+em;
}

@mixin font-size ($value,$ratio:1) {
	font-size: $value * $ratio;
}

@mixin line-height ($value,$ratio:1) {
	line-height: $value * $ratio;
}

// ---------------------------------------------------------
// Function for converting em to px
// ---------------------------------------------------------
// See: http://vvv.tobiassjosten.net/css/px-to-em-with-sass/
// Usage, eg:

	// .title {
	//     font-size: em(37px);
	// }

@function em($px, $base: $baseFontSize) {
    @return ($px / $base) * 1em;
}

// -------------------------------------------------------

// Typography
// //////////

// Set the base font size
// Used to calcuate ems
$baseFontSize: 16;

* {
	font-style: normal;
	font-weight: normal;
}





// DEFINE FONT STYLES
body {
	@include regular;
	font-size: $baseFontSize + px;
	line-height: 1.2em;
}

.redacted-blocks { @include redacted-blocks; }

.redacted { @include redacted; }

.redacted-light,
.redacted-italic { @include redacted-italic; }

.redacted-bold { @include redacted-bold; }

em, i {
	@include italic;
	.redacted & {
		@include redacted-italic;
	}
}

strong, b {
	@include bold;
	.redacted & {
		@include redacted-bold;
	}
}